<div class="login-container">
  <h2>Login</h2>
  <form id="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  <div class="github-login">
    <p>Or login with GitHub:</p>
    <a href="/api/sessions/github" class="github-button">Login with GitHub</a>
    <p>Forgot your password? </p>
    <a href="/api/users/restorePassword/sendMail">Restore it</a>
  </div>
</div>
<script src="../static/login.js"></script>