<h1>Create New Password</h1>
    <p>Hello!</p>
    <p>You've requested to create a new password. Please use the form below to set your new password:</p>
    
    <form action="/api/sessions/restorePassword/newPass" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        
        <button type="submit" data-userid={{user.id}} data-token="{{user.token}}">Set New Password</button>
    </form>
    
    <p>If you didn't request to create a new password, you can ignore this email.</p>
    <p>If you have any questions or need assistance, please contact our support team.</p>
    <p>Best regards,</p>
    <p>Ride Bikes</p>
    <script src="/static/restorePassword.js">
    </script>