<h1>Password Restoration Expired</h1>
  <p>The time to restore your password has expired. Please click the button below to retry the process.</p>
  
  <a href="/restorePassword/sendMail" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Retry Password Restoration</a>